{% extends 'base.html.twig' %}

{% block title %}New Tag{% endblock %}

{% block body %}
    <div class="container">
        <div class="row my-4">
            <h1 class="col">Create new Tag</h1>
            <a href="{{ path('tag_index') }}">back to list</a>
        </div>
        {{ include('tag/_form.html.twig') }}
    </div>
{% endblock %}
